OFT_DEPLOYER=0x9C9dD956b413cdBD81690c9394a6B4D22afe6745
PK_OFT_DEPLOYER=
CONFIG_DEPLOYER=0x0990be6dB8c785FBbF9deD8bAEc612A10CaE814b
PK_CONFIG_DEPLOYER=
SENDER_DEPLOYER=0xb0e1650a9760e0f383174af042091fc544b8356f
PK_SENDER_DEPLOYER=

RPC_URL=https://mainnet.mode.network/

# By default, aptos in this directory support both mnemonic-based and private key-based authentication
# 
# You don't need to set both of these values, just pick the one that you prefer and set that one
EVM_MNEMONIC=
EVM_PRIVATE_KEY=

# Aptos config - this should be the same as the value in your .aptos/config.yaml file
APTOS_ACCOUNT_ADDRESS=