node_modules
.env
coverage
coverage.json
typechain
typechain-types
out

# Hardhat files
cache
artifacts


# LayerZero specific files
.layerzero

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea
.aptos
.turbo
build
target
