node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

# Foundry compiles
out
zkout
foundryup-zksync

# LayerZero specific files
.layerzero

# pnpm
pnpm-error.log

# Editor and OS files
.DS_Store
.idea
.aptos
.turbo
build
target
