enable-pre-post-scripts=true
only-built-dependencies[]=@fraxfinance/layerzero-v2-upgradeable
only-built-dependencies[]=frax-standard-solidity
only-built-dependencies[]=frax-template
only-built-dependencies[]=tempo
only-built-dependencies[]=tempoxyz/tempo-std
